@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* heading and logo */


h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: green;
       
}
#logo {

    font-size:200%;
    margin-left: 30px;
    
}
#sub-logo {
    float: left;
    color: orange;
    font-family: 'Great Vibes', cursive;
    margin-left: 30px;
    margin-bottom: 10px;
    
}


/* navigation links */       
#menu {
    font-size: 130%;
    letter-spacing: 1px;
    font-weight: bold;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a {
    text-decoration: none;
    color: orange;
    
}
#menu a:hover {
    background-color: green;
}
/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../image/OIP.jpg") no-repeat center center;
    background-size: cover;
    
/* animates zoom effects on loading page*/
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}


#cover-text {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    border: 2px solid red;
    border-radius: 30px;

    width: 200px;
    height: 100px;

    padding-top: 10px;
    padding-left: 10px;
    background-color: yellow;
    color: green;

    bottom: 30px;
    right: 150px;

    position: absolute;
}
#originate-yoga {
    margin-top: 10px;
}
h2  {
    color: blue;
    margin-left: 3px;
}
p {
    margin-left: 3px;
}
hr {
    border-top: 2px solid black;
    width: 100%;
    margin: 5px 0;
}
/* style benefits of yoga here */

.benefits h2 {
    font-size: 180%;
    padding-bottom: 10px;
      
     
}
.benefits li {
    font-size: 120%;
 

}

#image-box-left {
   
    margin-left: 50px;
    width: 50%;
    height: 50px;

}
#benefits-right {
   float: right;
   margin-right: 250px;
   margin-top: 70px;
    
}

/* Testimonials */
.container span {
    display: inline-block;
    width: 25%;
    height: 130px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
  
 }
 .container h2 {
     margin-bottom: 20px;
 }

/* Footer */
#contact div{
    display: inline-block;
}
#contact i {
    font-size: 160%;
}
#contact-box-left {
    float: left;
    margin-left: 200px;
    margin-top: 50px;
    color: orange;
    font-size: 150%;
    font-weight: bold;
    
}
#contact-box-center {
    float: center;
    margin-left: 300px;
    margin-top: 50px;
    color: orange;
    font-size: 150%;
    font-weight: bold;
}
#contact-box-right {
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    color: orange;
    font-size: 150%;
    font-weight: bold;
    
}

footer {
    height: 200px;
}
.social-networks {
    text-align: center ;
     font-size: 24px;
     margin-left: 200px;
     
 }
.social-networks > li {
    display: inline-block;
      
}

.social-networks i {
    font-size: 160%;
    padding: 50px;
    color: #3a3a3a;
}

/* Online-Yoga */

.underline > h2 {
    text-decoration: underline;

}




            
       
        
