@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #fff0f5;
    --secondary-color: #ffb6c1;
    --pink: rgb(255, 105, 180);
    --black: rgb(0, 0, 0);
    --margin: 10px 10em 10px 10em;
    --margin1: 10px 5em 10px 5em;
    --margin2: 15px 10px 5px 10px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: var(--primary-color);
    margin: var(--margin)
}

/* heading and logo */
header {
    background-color: var(--secondary-color);
}


h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--black);

}

#logo {

    font-size: 200%;
    margin-left: 30px;

}

#sub-logo {
    float: left;
    color: var(--black);
    font-family: 'Great Vibes', cursive;
    margin-left: 30px;
    margin-bottom: 10px;

}

/* navigation links */
#menu {
    font-size: 130%;
    letter-spacing: 1px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: var(--black);

}

#menu a:hover {
    background-color: var(--pink);
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../image/OIP.jpg") no-repeat center center;
    background-size: cover;

    /* animates zoom effects on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}


#cover-text {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 30px;

    width: 200px;
    height: 100px;

    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--primary-color);
    color: var(--pink);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#originate-yoga {
    margin-top: 10px;
    margin-bottom: 50px;
}

h2 {
    color: var(--pink);
    margin-left: 3px;
}

p {
    margin-left: 3px;
}

#covid-situation {
    margin-bottom: 50px;
}

hr {
    border-top: 2px solid black;
    width: 100%;
    margin: 5px 0;
}

#image-box-left img {
    width: 100%;
    height: 50%;

}

.benefits>#image-box-left,
#benefits-right {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 50px;
}

.benefits h2 {
    font-size: 130%;
    padding-bottom: 10px;

}


.benefits li {
    font-size: 100%;
    display: block;
    border: 1px solid black;
    margin-bottom: 1px;
    border-radius: 10px;
    width: 250%;
    height: 20px;
    text-align: center;


}


#benefits-right {

    margin-left: 70px;


}

/* Testimonials */
.container div {
    display: inline-block;
    width: 25%;
    height: 130px;
    border: 1px solid black;
    padding: 10px 10px 40px 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;

}

.container h2 {
    margin-bottom: 20px;
}

/* Footer */
#contact-details div {
    display: inline-block;

}

#contact-details i {
    font-size: 130%;
}

#contact-box-left {

    width: 30%;
    color: var(--pink);
    font-size: 130%;
    font-weight: bold;

}

#contact-box-center {

    width: 30%;
    color: var(--pink);
    font-size: 130%;
    font-weight: bold;
}

#contact-box-right {

    width: 30%;
    color: var(--pink);
    font-size: 130%;
    font-weight: bold;

}

footer {
    height: 200px;
}

.social-networks {

    font-size: 24px;
    margin-left: 150px;

}

.social-networks>li {
    display: inline-block;

}

.social-networks i {
    font-size: 160%;
    padding: 50px;
    color: var(--pink);
}

footer P {
    text-align: center;
}

/* Online-Yoga */
.second-page {
    margin-bottom: 50px;

}

.underline>h2 {
    text-decoration: underline;

}

.yoga-types {
    text-align: center;
    font-size: 140%;

}

.yoga-types img {
    border: 2px solid black;
}

.rows1 {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.rows1 img {
    flex: 30%;
    margin-top: 30px;
    margin-left: 10px;
    border: 2px solid black;
}


.rows2 {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.rows2 img {
    flex: 30%;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 15px;
}


.rows3 {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.rows3 img {
    flex: 30%;
    border: 2px solid black;
    margin-top: 60px;
    margin-left: 60px;
}

.yoga-text {
    margin-left: 10px;
}

.yoga-text1 {
    margin-left: 70px;
}

caption {
    font-size: 150%;
    color: var(--pink)
}

table,
td,
th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin: 10px;

}

th {
    height: 50px;
}

td {
    height: 30px;
    padding: 5px;
}

.table {
    display: flex;
    margin: 30px 0 30px 3em;

}

/* contact details */

#contact-header {
    font-size: 150%;
    margin-left: 100px;
    margin-top: 20px;
}

#contact-p {
    font-size: 120%;
    margin-left: 100px;

}

.form-section {
    margin-bottom: 450px;
}

.contact-form {
    margin: 20px 10% 0 0;
    color: #000;

    max-width: 300px;
    position: absolute;
    left: 20%;
    padding: 10px;
}

.text-input {
    background: transparent;
    color: #000;
    width: 80%;
    height: 25px;
    margin: 5px 0 20px 1px;
    border: 1px solid #000;
    border-radius: 5px;
}

#age {
    margin-left: 12px;
}

#email {
    margin-left: 7px;
}

#message {
    background: transparent;
    color: #000;
    width: 100%;
    height: 50Px;
    border: 1px solid #000;
    border-radius: 5px;
}

.text-input:hover {
    border-color: var(--pink);
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: var(--pink);
    color: var(--black);
    display: block;

}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--black);
}

/* Media queries */

/* For  medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    body {
        margin: var(--margin1)
    }

    #logo, #sub-logo {
        font-size: 150%;
    }

    #menu {
        width: 100%;
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    #hero-image {
        width: 100%;
        height: 500px;
        background-size: cover;

    }

    #cover-text {
        font-size: 100%;
        width: 150px;
        height: 70px;

        bottom: 100px;
        right: 20px;

    }

    .benefits {
        width: 100%;
        height: 600px;

    }

    #image-box-left img {

        width: 90%;
        height: 50%;
        margin: 20px 0 20px 40px;

    }

    #benefits-right {

        width: 30%;

    }

    .container div {
        width: 50%;
        height: 70%;
        margin: 5px;

    }
    #contact-details {
        width: 100%;
    }

    #contact-box-left {
        font-size: 100%;
        margin-left: 10px;

    }

    #contact-box-center {
        font-size: 100%;
        margin-left: 0;
    }

    #contact-box-right {
        font-size: 100%;
        margin-left: 0;
    }

    .social-networks {
        margin-left: 0;
        margin-top: 20px;

    }

    .social-networks i {
        padding: 20px;
    }

    footer p {
        text-align: left;
    }

    /* online yoga media query for max 1200px */
    .second-page {
        margin-bottom: 90px;
    }

    .yoga-types img {
        width: 90%;
        height: 50%
    }

    .yoga-text,
    h3~p {
        font-size: 90%;
    }

    .rows1,
    .rows2 {
        margin-bottom: 20px;
    }

    .rows3 {
        margin-left: 0;
        margin-bottom: 50px;
    }
    .rows1 img {
        width: 80%;
        height: 80%;
    }
    .rows2 img {
        width: 80%;
        height: 80%;
    }

    .rows3 img {
        width: 60%;
        height: 60%;
    }

    .yoga-text1,
    h3~p {
        font-size: 90%;
    }

    .table {
        display: block;
        margin: 0;

    }

    table {
        width: 70%;
    }

}

/* For  medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    body {
        margin: var(--margin2);
    }
    #logo,
    #sub-logo {
        font-size: 130%;
        margin-left: 0;
        
    }

    #menu {
        font-size: 90%;
        float: left;
        margin-left: 0;
               

    }

    h2 {
        font-size: 110%;
    }

    #hero-image {
        width: 150%;
        height: 500px;
        background-size: cover;

    }

    #benefits-right {
        float: left;
        margin-left: 0;
        width: 30%;
    }

    .container div {
        width: 90%;
        height: 100px;
    }


    #contact-box-left {
        font-size: 90%;
        margin-left: 0;

    }

    #contact-box-center {
        font-size: 90%;
        margin-left: 0;
        padding-right: 20px;
    }

    #contact-box-right {
        font-size: 90%;
        margin-left: 0;
    }
    footer p {
        font-size: 80%;
    }

    .rows1,
    .rows2 {
        margin-bottom: 60px;
    }

    .rows3 {
        margin-bottom: 65px;
    }

    caption {
        font-size: 120%;
    }
    table {
        width: 90%;
        height: 100px;
    }

    #contact-header,
    #contact-p {
        font-size: 100%;
        margin-left: 0;
    }

    .text-input {
        width: 65%;
    }


}


